<app-navbar>
  <div class="row m-4">
    <div class="col-sm-4 p-4 panel">
      <h4 class="font-usco-gr font-weight-bold pl-1 pb-3">Actas</h4>
      <!-- Card 1 -->
      <div class="card mb-3 card-custom" *ngFor="let item of listadoActas">
        <div class="card-body pl-4 pr-4">
          <h5 class="card-title font-usco-gr font-weight-bold">
            {{ item.nombre }}
          </h5>
          <div class="row mb-3">
            <div class="col font-usco-gr">
              <strong>Desde:</strong> {{ item.inicio | date : "dd/MM/yyyy" }}
            </div>
            <div class="col font-usco-gr">
              <strong>Hasta:</strong> {{ item.fin | date : "dd/MM/yyyy" }}
            </div>
          </div>
          <p class="card-text text-small font-usco-gr">
            {{ item.descripcion }}
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <span *ngIf="item.estadoActa.codigo == 1" class="text-success"
              ><span class="status-activa"></span
              ><i class="fa-regular fa-circle-dot"></i> Activa</span
            >
            <span *ngIf="item.estadoActa.codigo == 2" class="text-warning"
              ><span class="status-cerrada"></span
              ><i class="fa-regular fa-circle-dot"></i> Cerrada</span
            >
            <a
              *ngIf="item.estadoActa.codigo == 1"
              [routerLink]="['/solicitud', item.codigo]"
              class="font-usco-vt text-decoration-none font-weight-bold"
              >Realizar solicitud</a
            >
            <a
              *ngIf="item.estadoActa.codigo == 2"
              href="#"
              class="font-usco-vt text-decoration-none font-weight-bold"
              >Revisar solicitudes</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col p-4 ml-3 panel">
      <h4 class="font-usco-gr font-weight-bold pl-1 pb-3">
        Solicitudes actuales realizadas
      </h4>
      <table
        mat-table
        [dataSource]="dataSource"
        class="table table-hover shadow-sm"
      >
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef>N°</th>
          <td
            mat-cell
            *matCellDef="let element"
            class="font-sm-usco font-usco-gr"
          >
            {{ dataSource.filteredData.indexOf(element) + 1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="material">
          <th mat-header-cell *matHeaderCellDef>Material</th>
          <td
            mat-cell
            *matCellDef="let element"
            class="font-sm-usco font-usco-gr"
          ></td>
        </ng-container>
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td
            mat-cell
            *matCellDef="let element"
            class="font-sm-usco font-usco-gr"
          >
            {{ element.fecha | date : "dd-MM-yyyy hh:MM a" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td
            mat-cell
            *matCellDef="let element"
            class="font-sm-usco font-usco-gr"
          >
            <span
              *ngIf="element.estadoSolicitud.codigo == 1"
              class="text-warning"
              ><span class="status-cerrada"></span
              ><i class="fa-regular fa-circle-dot"></i>
            </span>
            {{ element.estadoSolicitud.nombre }}
          </td>
        </ng-container>
        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" class="font-sm-usco">
            <a
              href="#"
              class="font-usco-vt text-decoration-none font-weight-bold"
              >Ver más</a
            >
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[10, 20, 30]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</app-navbar>
