<div class="row">
  <div class="col" style="align-items: center">
    <div class="">
      <img
        src="assets/universidad-surcolombiana-multicampos-white.png"
        alt="Logo USCO"
        class="img-fluid mb-4"
      />
      <h1>Módulo Solicitud de Asignación de Puntaje</h1>
      <hr class="hr-usco" />
      <h4 class="mt-4">Centro de información, tecnologías y control documental</h4>
      <div class="feature">
        <i class="fa fa-star"></i>
        <div>
          <strong>Característica del sistema</strong>
          <p>
            Párrafo describiendo alguna funcionalidad importante que caracterice
            el sistema, dando a los usuarios una idea de lo que pueden realizar.
          </p>
        </div>
      </div>
      <div class="feature">
        <i class="fa fa-star"></i>
        <div>
          <strong>Característica del sistema</strong>
          <p>
            Párrafo describiendo alguna funcionalidad importante que caracterice
            el sistema, dando a los usuarios una idea de lo que pueden realizar.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col" style="align-items: center">
    <div class="login-card">
      <div
        class="bg-usco-vt pl-4 pr-4 pt-4 pb-2 text-white"
        style="border-radius: 15px 15px 0px 0px"
      >
        <h5 class="font-weight-bold">Iniciar Sesión</h5>
        <p style="font-size: 12px">
          Ingresa tus credenciales para acceder al sistema
        </p>
      </div>
      <form [formGroup]="formLogin" class="p-4">
        <mat-form-field
          appearance="outline"
          class="example-full-width mb-4 mt-3"
        >
          <mat-label>Usuario</mat-label>
          <input
            matInput
            formControlName="usuario"
            placeholder="Ingrese su usuario"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            [type]="ocultar ? 'password' : 'text'"
            formControlName="contrasenia"
            placeholder="Digite su clave"
          />
          <button mat-icon-button matSuffix (click)="ocultar = !ocultar">
            <mat-icon>{{ ocultar ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <div class="text-right">
          <a
            href="https://www.usco.edu.co/cambio_clave/"
            target="_blank"
            class="forgot-link font-weight-bold"
            >¿Olvidó su contraseña?</a
          >
        </div>

        <button
          type="submit"
          class="btn-usco mt-4"
          [disabled]="!formLogin.valid"
          (click)="login()"
        >
          Ingresar al sistema
          <span
            *ngIf="cargando"
            class="spinner-border spinner-border-sm"
          ></span>
        </button>
        <div class="support-link">
          <a routerLink="/login">Soporte</a>
        </div>
        <hr />
        <small
          >© {{ fachaActual | date : "yyyy" }} CITCD - Versión 1 Construcción
          1.0</small
        >
      </form>
    </div>
  </div>
</div>
