<mat-sidenav-container class="sidenav-container" id="page-container">
  <mat-sidenav
    #drawer
    style="width: 281px"
    *ngIf="navbarHiddenService.visibleSideBar"
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    #target
  >
    <mat-toolbar>
      <span class="logo-lg"
        ><b
          ><img
            style="width: 200px"
            src="assets/universidad-surcolombiana-ocre.png" /></b
      ></span>
    </mat-toolbar>
    <mat-nav-list style="padding-bottom: 0">
      <a class="list" mat-list-item [routerLink]="['/inicio']">
        <h6 class="pl-2 item-principal"><i class="fas fa-home"></i> Inicio</h6>
      </a>
      <a class="list" mat-list-item [routerLink]="['/marco-normativo']">
        <h6 class="pl-2 item-principal">
          <i class="fa-solid fa-scale-balanced"></i> Marco Normativo
        </h6>
      </a>
      <a class="list" mat-list-item [routerLink]="['/seccion']">
        <h6 class="pl-2 item-principal">
          <i class="fa-solid fa-object-group"></i> Seccion
        </h6>
      </a>
      <a class="list" mat-list-item [routerLink]="['/item']">
        <h6 class="pl-2 item-principal">
          <i class="fa-solid fa-puzzle-piece"></i> Items
        </h6>
      </a>
      <a class="list" mat-list-item [routerLink]="['/autorizacion']">
        <h6 class="pl-2 item-principal">
          <i class="fa-solid fa-file-signature"></i> Autorización
        </h6>
      </a>
      <a class="list" mat-list-item [routerLink]="['/autorizacion-modulo']">
        <h6 class="pl-2 item-principal">
          <i class="fa-solid fa-computer"></i> Modulo
        </h6>
      </a>
      <a class="list" mat-list-item [routerLink]="['/reportes']">
        <h6 class="pl-2 item-principal">
          <i class="fa-solid fa-chart-pie"></i> Reportes
        </h6>
      </a>
    </mat-nav-list>
    <div class="footer-tabs mb-2">
      <mat-nav-list style="padding-bottom: 0">
        <a class="list" mat-list-item (click)="logout()">
          <h6 class="pl-2 item-principal">
            <i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar sesión
          </h6>
        </a>
      </mat-nav-list>
      <div class="accordion cursor-select" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <small
                class="font-usco-default font-weight-bold text-center font-usco-dr"
                style="font-size: 14px"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
                >© {{ anio | date : "yyyy" }} CITCD - Versión 1</small
              >
            </h2>
          </div>
          <div
            id="collapseOne"
            class="collapse"
            aria-labelledby="headingOne"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              <small class="font-usco-dr"
                >HORA INICIO SESIÓN: <br />
                {{ horaInicioSesion | date : "dd-MM-yyyy, h:mm a" }}
              </small>
              <hr class="dashed" />
              <small class="font-usco-dr">
                HORA FINALIZACIÓN: <br />
                {{ horaFinSesion | date : "dd-MM-yyyy, h:mm a" }}
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <!-- <button
        type="button"
        class="btn btn-usco-vt m-1 text-white"
        aria-label="Toggle sidenav"
        (click)="toggle()"
        *ngIf="isHandset$"
      >
        <i class="fas fa-bars"></i>
      </button> -->
      <small>Módulo CAP - Docente</small>
      <div class="navbar-nav ml-auto">
        <div class="d-flex align-items-center">
          <small class="mr-2">{{ nombre | titlecase }} {{ apellido | titlecase }}</small>
          <img
            *ngIf="foto.url != ''"
            src="{{ foto.url }}"
            width="40"
            height="40"
            class="rounded-circle ms-2"
            alt="avatar image"
          />
          <img
            *ngIf="foto.url == ''"
            src="assets/precarga-usco-dos.gif"
            width="30"
            height="30"
            class="rounded-circle ms-2"
            alt="avatar image"
          />
        </div>
      </div>
      <!--  <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            style="color: #4a5f68"
            id="navbarDropdownMenu"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              *ngIf="foto.url != ''"
              src="{{ foto.url }}"
              width="40"
              height="40"
              class="rounded-circle d-inline-block align-top"
              alt="avatar image"
            />
            <img
              *ngIf="foto.url == ''"
              src="assets/precarga-usco-dos.gif"
              width="40"
              height="40"
              class="rounded-circle d-inline-block align-top"
              alt="avatar image"
            />
            {{ nombre | titlecase }} {{ apellido | titlecase }}</a
          >
          <div
            class="dropdown-menu dropdown-menu-right dropdown-info mt-2"
            aria-labelledby="navbarDropdownMenu"
            id="gradiante"
          >
            <div class="text-center">
              <a class="dropdown-info"
                ><img
                  src="{{ foto.url }}"
                  class="rounded-circle z-depth-0 border-usco-white"
                  alt="avatar image"
                  height="100"
              /></a>
              <a class="dropdown-item font-usco-default"
                ><b> {{ nombre | titlecase }} {{ apellido | titlecase }}</b></a
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown"
                ><button
                  (click)="logout()"
                  class="btn btn-usco-vt"
                  type="button"
                >
                  Cerrar Sesión
                </button></a
              >
            </div>
          </div>
        </li>
      </ul> -->
    </mat-toolbar>
    <ng-content (validarToken)="receiveMessage($event)"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
